
.wrap{
    color: 	#2F4F4F;
    margin: auto;
    padding-left: 15px;
    padding-right: 20px;
}

.container{
    padding-right: 20px;
    padding-left: 20px;
}

.summary {
    padding: 4px;
    width: 200px;
    border: none;
    cursor: pointer;
    color: #2F4F4F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
