
.wrap{
    color: 	#2F4F4F;
    margin: auto;
    padding-left: 15px;
    padding-right: 20px;
}

.container{
    padding-right: 20px;
    padding-left: 20px;
}

.summary {
    padding: 4px;
    width: 200px;
    border: none;
    cursor: pointer;
    color: #2F4F4F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
    background: none;
    border: 1px solid #8FBC8F;
    font-size: 15px;
    color: #2F4F4F;
    font-family: "montserrat",sans-serif;
    letter-spacing: 2px;
    padding: 12px 20px;
    min-width: 100px;
    min-height: 15px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
  }
.btn:hover{
    color: #fff;
    background-color: #8FBC8F;
  }
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #8FBC8F;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}